In [1]:
L = ['Michael','Sarah','Tracy','Bob','Jack']

In [2]:
L[0]

'Michael'

In [3]:
r=[]

In [4]:
n=3

In [5]:
for i in range(n):
    r.append(L[i])

In [6]:
r

['Michael', 'Sarah', 'Tracy']

In [7]:
L[0:3]

['Michael', 'Sarah', 'Tracy']

In [8]:
L[:3]

['Michael', 'Sarah', 'Tracy']

In [9]:
L[1:3]

['Sarah', 'Tracy']

In [10]:
L[-2]

'Bob'

In [11]:
L[-2:]

['Bob', 'Jack']

In [12]:
L=list(range(100))

In [13]:
L

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [14]:
L[10:20]

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [15]:
L[10:20:2]

[10, 12, 14, 16, 18]

In [16]:
L[::5]

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [17]:
L[:]

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [18]:
(0,1,2,3,4,5)

(0, 1, 2, 3, 4, 5)

In [19]:
[:3]

SyntaxError: invalid syntax (<ipython-input-19-a16f199d347b>, line 1)